<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><a href="{% url 'add_competition' %}">Add Competition</a></h3>

    {% for competition in competitions %}
        <h3><a href="{% url 'display_matches' competition.id %}">{{ competition.name }}</a></h3>
        <h4><a href="{% url 'update_competition' competition.id %}">edit</a></h4>
        <h4><a href="{% url 'delete_competition' competition.id %}">delete</a></h4>
    {% endfor %}
    
</body>
</html>