<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenminds</title>
</head>
<body>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="text" id="email" name="username">
        <label for="password" id="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
</body>
</html>